@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

footer{
    color: white;
}

.tit-login{
    font-family: 'Bungee', cursive !important;
    color: #36b9cc ;
}

.img-login{
    margin-left: -30px;
}

.card-login{
    box-shadow: 3px white !important;
}