<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>loteriapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerLogin</display-name>
    <servlet-name>ControllerLogin</servlet-name>
    <servlet-class>controller.ControllerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLogin</servlet-name>
    <url-pattern>/ControllerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerNovaAposta</display-name>
    <servlet-name>ControllerNovaAposta</servlet-name>
    <servlet-class>controller.ControllerNovaAposta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerNovaAposta</servlet-name>
    <url-pattern>/ControllerNovaAposta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerDashboard</display-name>
    <servlet-name>ControllerDashboard</servlet-name>
    <servlet-class>controller.ControllerDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDashboard</servlet-name>
    <url-pattern>/ControllerDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerApostas</display-name>
    <servlet-name>ControllerApostas</servlet-name>
    <servlet-class>controller.ControllerApostas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerApostas</servlet-name>
    <url-pattern>/ControllerApostas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerResultado</display-name>
    <servlet-name>ControllerResultado</servlet-name>
    <servlet-class>controller.ControllerResultado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerResultado</servlet-name>
    <url-pattern>/ControllerResultado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerCadastrarUser</display-name>
    <servlet-name>ControllerCadastrarUser</servlet-name>
    <servlet-class>controller.ControllerCadastrarUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerCadastrarUser</servlet-name>
    <url-pattern>/ControllerCadastrarUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerEditarUser</display-name>
    <servlet-name>ControllerEditarUser</servlet-name>
    <servlet-class>controller.ControllerEditarUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerEditarUser</servlet-name>
    <url-pattern>/ControllerEditarUser</url-pattern>
  </servlet-mapping>
</web-app>